@use '../../styles/colors';
@use '../../styles/mixins';

.button {
  border: 1px solid colors.$border_color;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  width: 118px;
  height: 48px;
  margin: auto;
  cursor: pointer;
  font-family: Work Sans;
  font-weight: 500;
  color: colors.$secondary_500;

  font-size: 16px;

  &__disabled {
    pointer-events: none;
    cursor: pointer;
    @include mixins.color-with-alpha(border-color, colors.$border_color, 10);
    @include mixins.color-with-alpha(color, colors.$secondary_500, 50);
  }

  &:focus {
    outline: none;
  }
}
