@use '../../styles/colors';

.oneNews {
  padding: 32px 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 20px;

  p {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 36px;
    color: colors.$secondary_800;
  }
}

.generalInfo {
  display: flex;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 14px;
  color: colors.$secondary_500;
  margin-bottom: 32px;
}

.authors {
  padding: 0;

  li {
    list-style: none;
    margin-right: 25px;
  }
}

.image {
  width: 800px;
  height: 460px;
  margin-bottom: 32px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.description {
  margin-bottom: 32px;

  p {
    font-family: Source Serif Pro;
    font-weight: 400;
    font-size: 20px;
    color: colors.$secondary_700;
  }
}

.footer {
  font-family: Source Serif Pro;
  font-weight: 400;
  font-size: 20px;
  border: none;
  height: fit-content;
  width: fit-content;
}

.button {
  color: rgb(51, 169, 252);
  background-color: transparent;
  text-decoration: underline;
}
