$secondary_100: rgb(244, 244, 245);
$secondary_200: rgb(232, 232, 234);
$secondary_300: rgb(151, 152, 159);
$secondary_500: rgb(105, 106, 117);
$secondary_700: rgb(59, 60, 74);
$secondary_800: rgb(24, 26, 42);
$border_color: rgba(105, 106, 117, 0.3);
